<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<!-- // Stylesheets // -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/ddsmoothmenu.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'js/fancybox/jquery.fancybox.css' %}"/>
<!-- // Javascript // -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="{% static 'js/ddsmoothmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contentslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ustream-embedapi.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Tahoma_400-Tahoma_700.font.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox.js' %}"></script>
<script type="text/javascript">Cufon.replace('h1,h2,h3,h4,h5, h6, .txtcufon');</script>
</head>
<body>
	<!-- UserVoice JavaScript SDK (only needed once on a page) -->
	<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/lDOKZikPg9n9uvZbDUotrw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

	<!-- A tab to launch the Classic Feedback Widget -->
	<script>
	UserVoice = window.UserVoice || [];
	UserVoice.push(['showTab', 'classic_widget', {
	  mode: 'full',
	  primary_color: '#cc6d00',
	  link_color: '#007dbf',
	  default_mode: 'support',
	  forum_id: 245812,
	  tab_label: 'Feedback & Support',
	  tab_color: '#cc6d00',
	  tab_position: 'middle-right',
	  tab_inverted: false
	}]);
	</script>
	
    <div id="wrapper_sec">
    	<!--Masterhead -->
        <div id="masthead">
        	<div class="logo"><a href="/"><img src="{% static 'images/logo.gif' %}" width="142" height="87" alt="" /></a></div>
			<div class="header_rightsec">
            	<div class="rightsec_1">
                	<div class="navigation">
                    	<div id="smoothmenu1" class="ddsmoothmenu">
                        	<ul>
                            	<li><a class="home" href="/">Home</a></li>
                            	<li><a href="/protectyourneighborhood/">Protect Your Neighborhood</a></li>
								<li><a href="/howitworks/">How It Works</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Top search-->
                    <div class="top_search">
                   		<input value="Enter you keywords to search" onfocus="if(this.value=='Enter you keywords to search') {this.value='';}"
                        onblur="if(this.value=='') {this.value='Enter you keywords to search';}"name="txt" type="text" />
                    	<a href="#" class="search">Search</a>
                    </div>
                </div>
			<!-- Todo: Implement in Second Phase
            	<div class="rightsec_2">
           	  <ul class="toplinks">
                		<li><a href="#"> Browse</a></li>
                        <li><a href="#"> Upload </a></li>
                        <li> <a href="#">Create Account </a></li>
                        <li class="last"><a href="#">Sign In</a></li>   </ul>
                    <ul class="social_networks">
                		<li class="share">Share with us:</li>
                        <li><a href="#"><img src="{% static 'images/socialicon1.png' %}" alt="" /> </a></li>
                        <li> <a href="#"><img src="{% static 'images/socialicon2.png' %}" alt="" /> </a></li>
                        <li> <a href="#"><img src="{% static 'images/socialicon3.png' %}" alt="" /> </a></li>
                        <li class="last"><a href="#"><img src="{% static 'images/socialicon4.png' %}" alt="" /></a></li>
                    </ul>
                </div>
            -->
			</div>
			<div class="clear" ></div>
		</div>
    {% block content %}{% endblock %}
 <div class="clear"></div>
</div>

<!-- bottom section-->
<div id="bottom_sec">
    <div id="bottomcontianer">
    	<div class="innercontainer">
   	    <div id="footer">
            <div class="archieve">
                <a href="#"><img src="{% static 'images/logo2.png' %}"  alt="" /></a>
                <p>512 E Stoughton St.</p>
                <p>Champaign,IL 61820</p>
                <p> Email: <a class="undrlne" href="mailto:support@communitycams.org">support@communitycams.org</a></p>
            </div>
            <div class="footer_div">
            	<h4>About us</h4>
            	<ul>
                	<li><a href="/projectfounders/">Project Founders</a></li>
                	<li><a href="/ourvision/">Our Vision</a></li>
                </ul>
            </div>
          </div>
        </div>
    </div>
    <div id="botbarbg">
    	<div class="innercontainer">
        	<div class="copy">Copyright &copy; 2014 Anant Singh and Ramit Arora</div>
    	</div>
    </div>
<div class="clear"></div>
</div>
</body>
</html>
