{% extends "base_template.html" %}
{% block content %}
    {% load static %}
	<!--Content Sec -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/howitworks.css' %}" />
	<div id="content_sec">
        <!--Main Section-->
		<div class="hero_3" id="running-board-wrap">
			<div class="container" id="running-board">
				<div id="hero_images"></div>
					<div id="hero">
						<p class="big_type">
				Crowdcams is crowdsourcing <br>
				security to make this world <br>
				a safer place</p>
					</div>
					<div class="container" id="s-board">
					</div>
				</div>
			</div>
			<div class="container" id="written_content">
				<div class="interior">
					<h2 style="font-size:32px">How it works</h2>
				<div class="group">
					<p class="small_type">At CrowdCams, we believe that a lot of crime in public areas can be prevented if all the “always online people” come together, stream videos of whichever public location they can, collectively watch the video streams and report any suspicious activities as soon as they occur. This way, no matter where one belongs, he/she will be able to prevent crime across the globe.</p>
				</div>
				<h2 style="font-size:24px">Save lives by watching</h2>
				<div class="group2">
					<p class="small_type">You will find a number of live streams/channels originating from around the world. All you need to do is to watch any one or more of them for any amount of time you feel suitable and report suspicious activity to the contact number given along with the video stream. That’s it, and believe us, you may end up saving a life or maybe many. 
					</p>
				</div>
				<h2 style="font-size:24px">Stop crimes by broadcasting</h2>
				<div class="group2">
					<p class="small_type">Have a location in your mind you feel is unsafe. Just install a camera, use an internet connection and give us the live video stream. 
					To Broadcast a stream go to our partner website ustream.tv and select Go live! You will then be guided through to make a Free or Paid channel and start broadcasting. Once your broadcasting starts, just copy your channel URL(something like http://www.ustream.tv/channel/your-channel-name-here) at the Protect Your Neighbourhood page. You will be asked to provide the details of the location your channel is broadcasting and a phone number to be contacted in case someone notices a suspicious activity at your channel, and you are all set.
					</p>
				</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}