{% extends "base_template.html" %}
{% block content %}
    {% load static %}
	<!--Content Sec -->
	<div id="content_sec">
        <!--Main Section-->
		<div class="hero_3" id="running-board-wrap">
			<div class="container" id="running-board">
				<div id="howitworks_image"></div>
					<div id="hero">
						<p class="big_type">&nbsp;&nbsp;Crowdsourcing security to<br>make this world a safer place</p>
					</div>
					<div class="container" id="s-board">
					</div>
				</div>
			</div>
			<div class="container" id="written_content">
				<div class="interior">
				<div class="group2" style="padding-bottom: 0px">
					<p><i style="color: #000000"> Spend some free time watching one or more live video streams at Crowdcams and report any suspicious activity. Share a live stream of a location nearby you and enable others to monitor it.</i></p>
				</div>
				<h2 style="font-size:24px">Do something good today!</h2>
				<div class="group2">
					<p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp;Find live streams originating at locations near you and around the world. Choose one or more to watch and monitor the movements. Report any suspicious activities via a simple phone call to the local authority's contact number given along with each stream. <br>
						It's that simple, but believe us, you may end up stopping an armed robbery, getting a drunk driver arrested, facilitating a drug racket bust or even saving a life or maybe many lives.
					</p>
				</div>
				<h2 style="font-size:24px">Stop crimes by broadcasting</h2>
				<div class="group2">
					<p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp;Have a neighborhood location in your mind you feel is unsafe. Install a webcam pointing at it and give us the live stream.
						Once online at Crowdcams, the location could be monitored by the dwellers of your neighborhood as well as other active Crowdcams users around the world. Such monitoring may greatly help in protecting the location against criminal activities described above amongst others.
						</p></div>
							
							<h2 style="font-size:24px">Steps to share</h2>
							<div class="group2">
						<p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp;
					To share a live video feed, visit our partner <a href="http://www.ustream.tv">Ustream</a>. At the Ustream homepage, select Go live! and follow the steps.
                        <br>Once the live stream starts broadcasting, just copy your channel URL(something like http://www.ustream.tv/channel/your-channel-name-here) at the <a href="/protectyourneighborhood">Protect Your Neighbourhood</a> page, provide the details of the location your channel is broadcasting and a phone number. This should be the phone number of the local authority ex. Local Police Station, that must be contacted in case one of our users notices a suspicious activity at your channel. As you submit, we will instantly fetch the live stream and list it at Crowdcams.                       
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}