{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <!--Content Sec -->
    <div id="content_sec">
        <!--Main Section-->
        <div class="container" id="written_content">

            <div class="home_welcome">
                <ul>
                    <li><i>Welcome to Crowdcams, the world's first video surveillance crowd-sourcing platform. Share and watch live video streams of public areas and contribute in reducing crime right away.</i></li>
                </ul>
            </div>
        </div>
        <div class="col1">
            <!--Video slider -->
            <div class="mostcontainer">
                <h2>Featured Locations</h2>
                <ul>

                    {% for stream in streams %}
                        <li>
                            <div class="vediodiv">
                                <div id="{{ stream.ustream_uid }}div" class="light_div" data-title="{{ stream.title }}"
                                     data-uid="{{ stream.ustream_uid }}" data-loc="{{ stream.location_description }}"
                                     data-contact="{{ stream.emergency_contact }}"
                                     style="width: inherit;height: 140px;position: absolute; z-index: 1000;"></div>
                                <object class="flashobj" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                        id="utv510050"
                                        style="width: inherit;height: inherit; z-index: -1000;">
                                    <param name="flashvars"
                                           value="autoplay=false&amp;brand=embed&amp;cid={{ stream.ustream_uid }}"/>
                                    <param name="allowfullscreen" value="true"/>
                                    <param name="allowscriptaccess" value="always"/>
                                    <param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/>
                                    <embed flashvars="autoplay=false&amp;brand=embed&amp;cid={{ stream.ustream_uid }}"
                                           allowfullscreen="true" allowscriptaccess="always"
                                           id="{{ stream.ustream_uid }}embed"
                                           name="utv_n_41439" src="http://www.ustream.tv/flash/viewer.swf"
                                           type="application/x-shockwave-flash"
                                           style="width: inherit;height: inherit;"/>
                                </object>
                            </div>
                            <div class="clear"></div>
                            <p><a class="colr2 stream_link"
                                  href="http://www.ustream.tv/embed/{{ stream.ustream_uid }}">{{ stream.title }}
                            </a></p>

                            <p class="viewcounts">Location: {{ stream.location_description }}</p>

                            <p class="by">Emergency Contact: {{ stream.emergency_contact }}</p>

                            <div class="clear"></div>


                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!-- movie ads-->
        <img name="btn_list" class = "all_icon" style=" width: 10%;height: 10%;" onclick="window.location.href='/list'" src="{% static 'images/all_icon.png' %}">
        <script type="application/javascript">
                                $('.light_div').mousedown(function (e) {
                                    var curr_div = $(e.target);
                                    $.fancybox.open({
                                        href: 'http://www.ustream.tv/embed/'+ curr_div.data('uid') ,
                                        type: 'iframe',
                                        afterLoad: function () {
                                            suffix = '<h3>'+ curr_div.data('title') +'</h3>' +
                                                    '<h4>Location: '+ curr_div.data('loc') +'</h4>' +
                                                    '<h4>Emergency Contact: '+ curr_div.data('contact') +'</h4>';
                                            $(suffix).appendTo(this.inner)
                                        }
                                    })
                                })
                            </script>
    </div>
{% endblock %}