{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <!--Content Sec -->
    <div id="content_sec">
        <!--Main Section-->
        <div class="col1">
            <!--Vedio slider -->
            <div class="mostcontainer">
                <h2 class="heading">Featured Streams</h2>
                <ul>
                    {% for stream in streams %}
                        <li>
                            <div class="vediodiv">
                                <object class="flashobj" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="utv510050"
                                        style="width: inherit;height: inherit;">
                                    <param name="flashvars"
                                           value="autoplay=true&amp;brand=embed&amp;cid={{ stream.ustream_uid }}"/>
                                    <param name="allowfullscreen" value="true"/>
                                    <param name="allowscriptaccess" value="always"/>
                                    <param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/>
                                    <embed flashvars="autoplay=true&amp;brand=embed&amp;cid={{ stream.ustream_uid }}"
                                           allowfullscreen="true" allowscriptaccess="always" id="{{ stream.ustream_uid }}"
                                           name="utv_n_41439" src="http://www.ustream.tv/flash/viewer.swf"
                                           type="application/x-shockwave-flash"
                                           style="width: inherit;height: inherit;"/>
                                </object>
                            </div>
                            <script type="application/javascript">
                                $('#{{ stream.ustream_uid }}').on('click', function(e){
                                    $.fancybox.open({
                                        href:'http://www.ustream.tv/embed/{{ stream.ustream_uid }}',
                                        type:'iframe'
                                    })
                                })
                            </script>
                            <div class="clear"></div>
                            <p><a class="watch_stream fancybox.iframe" href="http://www.ustream.tv/embed/{{ stream.ustream_uid }}">
                                Click Here to Watch this Stream</a></p>

                            <p class="viewcounts">241,699 views</p>

                            <p class="by">By: <a href="#" class="undrlne">SeaNanners</a></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!-- movie ads-->
    </div>
{% endblock %}