{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <!--Content Sec -->
        <div id="content_sec">
        	<!--Main Section-->
            <div class="col1">
            	<!--Vedio slider -->
                <div class="vedio_banner">
           			<div id="slider2" style="height:324px; overflow:hidden ">
                    	<div class="contentdiv">
                            <object type="application/x-shockwave-flash" style="width:617px; height:324px;"
                            data= "http://www.youtube.com/v/gNni_Rt0fj4?fs=1&amp;hl=en_US">
                            <param name="movie" value="http://www.youtube.com/v/gNni_Rt0fj4?fs=1&amp;hl=en_US" />
                            <param value="application/x-shockwave-flash" name="type" />
                            <param value="true" name="allowfullscreen" />
                            <param value="always" name="allowscriptaccess" />
                            <param value="opaque" name="wmode" />
                            </object>
   	                    </div>
                        <div class="contentdiv">
                        	<object type="application/x-shockwave-flash" style="width:617px; height:324px;"
                            data= "http://www.youtube.com/v/vShAz_5hA70?fs=1&amp;hl=en_US">
                            <param name="movie" value="http://www.youtube.com/v/vShAz_5hA70?fs=1&amp;hl=en_US" />
                            <param value="application/x-shockwave-flash" name="type" />
                            <param value="true" name="allowfullscreen" />
                            <param value="always" name="allowscriptaccess" />
                            <param value="opaque" name="wmode" />
                            </object>
                        </div>
                        <div class="contentdiv">
                        	<object type="application/x-shockwave-flash" style="width:617px; height:324px;"
                            data= "http://www.youtube.com/v/8m-ZYEQSRcQ?fs=1&amp;hl=en_US">
                            <param name="movie" value="http://www.youtube.com/v/8m-ZYEQSRcQ?fs=1&amp;hl=en_US" />
                            <param value="application/x-shockwave-flash" name="type" />
                            <param value="true" name="allowfullscreen" />
                            <param value="always" name="allowscriptaccess" />
                            <param value="opaque" name="wmode" />
                            </object>
                        </div>
                        <div class="contentdiv">
                        	<object type="application/x-shockwave-flash" style="width:617px; height:324px;"
                            data= "http://www.youtube.com/v/x_eHmoYiV64?fs=1&amp;hl=en_US">
                            <param name="movie" value="http://www.youtube.com/v/x_eHmoYiV64?fs=1&amp;hl=en_US" />
                            <param value="application/x-shockwave-flash" name="type" />
                            <param value="true" name="allowfullscreen" />
                            <param value="always" name="allowscriptaccess" />
                            <param value="opaque" name="wmode" />
                            </object>
                        </div>
                    </div>
                    <div id="paginate-slider2" class="pagination">
                        	<a class="toc" href="#">
                            	<img class="imge" src="/static/images/vedio_thumb1.gif"  alt="" />
                            	<img class="addtoplaylist1" src="/static/images/plusicon.png" alt="" />
                            </a>
                        	<a class="toc" href="#">
                            	<img class="imge" src="/static/images/vedio_thumb2.gif"  alt="" />
                            	<img class="addtoplaylist1" src="/static/images/plusicon.png" alt="" />
                            </a>
                            <a class="toc" href="#">
                            	<img class="imge" src="/static/images/vedio_thumb3.gif"  alt="" />
                            	<img class="addtoplaylist1" src="/static/images/plusicon.png" alt="" />
                            </a>
                            <a class="toc nomar" href="#">
                            	<img class="imge" src="/static/images/vedio_thumb4.gif"  alt="" />
                            	<img class="addtoplaylist1" src="/static/images/plusicon.png" alt="" />
                            </a>

					    </div>
					<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
			    </div>
              	<div class="clear"></div>
            <div class="clear"></div>
            </div>
            <!--Right Section-->
            <div class="col2">
           		<h2 class="heading" >Featured Listing</h2>
              		<div class="sideblock">
               			<ul>
                    		<li class="first"> <a href="#"><img src="/static/images/feature_listing1.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing2.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing3.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing4.gif"  alt="" /></a> </li>
                        	<li class="first"> <a href="#"><img src="/static/images/feature_listing5.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing6.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing7.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing8.gif"  alt="" /></a> </li>
                        	<li class="first"> <a href="#"><img src="/static/images/feature_listing9.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing10.gif"  alt="" /></a> </li>
                        	<li><a href="#"><img src="/static/images/feature_listing11.gif"  alt="" /></a> </li>
                			<li><a href="#"><img src="/static/images/feature_listing12.gif"  alt="" /></a> </li>
                   		</ul>
              		<div class="clear"></div>
              </div>
			  <!--ADS -->
              <div class="ads">
              	<a href="#"><img src="/static/images/kfc.gif"  alt="" /></a>
              </div>
        </div>
        <div class="clear"></div>
		<!-- movie ads-->
        <div class="movie_ads"><a href="#"><img src="{% static 'images/movie_ad.gif' %}"  alt="" /></a></div>
    </div>
{% endblock %}