{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <!--Content Sec -->
    <div id="content_sec">
        <!--Main Section-->
        <div class="container" id="written_content">
            <div class="interior">

                <div class="group2" style="padding-top: 0px;margin-top: 0px">
                    <p><i style="color: #000000">At Crowdcams we envision a world where, as opposed to present, most of the surveillance cameras are monitored by the crowd and criminal instances are reported at the time of activity. This is in contrast with the current system, where, a bunch of security personals look at the video recordings much after everything has happened.</i></p>
                </div>
                <h2 style="font-size:24px">Going forward</h2>
                <div class="group2">
                    <p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp;We want to be able to integrate Crowdcams with most of the popular streaming platforms available out there so that more and more public areas can be secured without the concern for camera integration. <nbsp><nbsp><nbsp><nbsp>Other than this we are looking to create user accounts facility for our members so that we can get a hold on who is earning the most karma by watching streams, broadcasting street cams and reporting suspicious activities.
                    </p>
                </div>
                <h2 style="font-size:24px">Give Us Feedback</h2>
                <div class="group2">
                    <p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp;Crowdcams is just born and we are ardently looking for your feedback. If you have any suggestion for us or have an idea that you would like to share with us, we would be more than glad to hear it. Please reach out to us at support@crowdcams.org or click the Feedback and Support Link at the right of this page.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}