{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <!--Content Sec -->
    <div id="content_sec">
        <!--Main Section-->
        <div class="container" id="written_content">
            <div class="interior">

                <div class="group2" style="padding-top: 0px;margin-top: 0px">
                    <p><i style="color: #000000">Envisioning a world where crime is nipped in the bud by the collaborative efforts of it's citizens</i></p>
                </div>
                <h2 style="font-size:24px">Going forward</h2>
                <div class="group2">
                    <p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp; Integrating more commercially available streaming platforms. Creating user accounts for keeping track of positive karma and much more. Seeking Institutional support to put Crowdcams at places of significance. Looking for fresh and thrilling ideas.
                    </p>
                </div>
                <h2 style="font-size:24px">Give Us Feedback</h2>
                <div class="group2">
                    <p class="small_type">&nbsp;&nbsp;&nbsp;&nbsp;We are ardently looking for your feedback. If you have any suggestion or an idea to share, we would be glad to hear it. Reach out to us at <a href="mailto:support@crowdcams.org">support@crowdcams.org</a> or visit the Feedback and Support Link at the right of this page.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}