{% extends "base_template.html" %}

{% block content %}
    {% load static %}

<!--Tell the users what all platforms we support and some other stuff-->


<!--Searching and adding a UStream Video>-->
<div id="ustream_url_add" height="400px" position="relative">
	<form action="/protectyourneighborhood/newpost" method="POST">
		{% csrf_token %}
		<table width="800" border="0">
  <tr class="tblrow">
    <td>&nbsp;<label id="ustream_url_label">USTREAM.TV URL of the LIVE Channel</label></td>
    <td>&nbsp;<input id="ustream_url" class="textbox" type="url" name="ustream_url"></td>
  </tr>
  <tr class="tblrow">
    <td>&nbsp;<label id="emergency_contact_label">Phone Number of the local authority to contact in case of Emergency</label></td>
    <td>&nbsp;<input id="emergency_contact" class="textbox" type="number" style="width:140px" name="emergency_contact"></td>
  </tr>
  <tr class="tblrow">
    <td>&nbsp;<label id="location_description_label">Address of the location in Stream</label></td>
    <td>&nbsp;<input id="location_desription" class="textbox" type="text" name="location_description"></td>
  </tr>
  <tr class="tblrow">
    <td>&nbsp;</td>
    <td>&nbsp;<input type="submit" class="btn" name="submit"></td>
  </tr>
</table>	
		
	</form>
</div>

{% endblock %}