{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/formatting.css' %}" />
    <div id="content_sec">
        <!--Main Section-->
        <div class="container" id="written_content">

            <div class="interior">
                <h2 style="font-size: 28px">Protect areas around you</h2>
                <div class="group2">
                    <ul>
                        <li>Stream a live street scene and make it possible for our users to report suspicious activities.</li>
                        <li>Follow the instructions below to get started</li>
                    </ul>
                    <br>
                    <ol start="1" type="1" style="line-height: 1.6em; list-style-type: decimal">
                        <li style="list-style-type: decimal"> Share the live video from our partner site <a href="http://www.ustream.tv">Ustream.tv</a>  by pasting the live stream URL below</li>
                        <li style="list-style-type: decimal"> Provide an Emergency Phone Number that someone may dial upon noticing a suspicious activity</li>
                        <li style="list-style-type: decimal"> Fill in the most exact description of the location you are sharing</li>
                    </ol>
                    <br>
                    <ol>
                        <li>If you are visiting Crowdcams for the first time, consider reading the <a href="/howitworks">How It Works</a> page.</li>
                    </ol>
                    <br>
                    <ol>
                        <li style="color: green">
                            {{ feedback_to_user }}
                        </li>
                    </ol>
                </div>
                <!--Tell the users what all platforms we support and some other stuff-->
                <!--Searching and adding a UStream Video>-->
                <div id="ustream_url_add" height="400px" position="relative">
                    {% if not feedback_to_user  %}
                    <form action="/protectyourneighborhood/newpost" method="POST">
                        {% csrf_token %}
                        <ol>
                            <li>
                                <p class = "errors">{{ form.ustream_url.errors }}</p>
                                <label id="ustream_url_label" style="text-transform:uppercase;">Stream URL</label>
                                <input id="ustream_url" class="textbox" style="width:400px" type="url" name="{{ form.ustream_url.html_name }}" placeholder="http://www.ustream.tv/channel/your-channel-here"><br>
                            </li>
                            <li>
                                <p class = "errors">{{ form.emergency_contact.errors }}</p>
                                <label id="emergency_contact_label" style="text-transform:uppercase;">Emergency Phone Number</label>
                                <input id="emergency_contact" class="textbox" type="number" name="{{form.emergency_contact.html_name}}" placeholder = "(212) 239-9811">
                            </li>
                            <li>
                                <p class = "errors">{{ form.location_description.errors }}</p>
                                <label id="location_description_label" style="text-transform:uppercase;">Exact Location</label>
                                <textarea id="location_desription" class="textbox" type="text" cols="2" rows="10" name="{{form.location_description.html_name}}" placeholder="Intersection of 33rd Street and Broadway, New York, NY 10001"></textarea>
                            </li>
                            <li>

                            </li>
                                <p class = "errors">{{ form.captcha.errors }}</p>
                                {{ form.captcha }}
                            <li>
                                <input type="submit" class="btn" name="submit">
                            </li>
                        </ol>
                    </form>
                    {% endif %}
                </div>
				<br>
				<br>
				<div class="group2">
				<p class="small_type" style="font-size:12px">Disclaimer: Crowdcams is solely a content-aggregation platform and is not responsible for the production or distribution of any content howsoever. Crowdcams does not take any responsibility and makes no guarantee of any kind for the material presented in any part of the website - <a href="http://www.crowdcams.org">http://www.crowdcams.org</a>. Also, Crowdcams reserves the right to remove any user posted content at any time without any prior notice.
					 
					</p> 
				</div>
            </div>
        </div>
    </div>

{% endblock %}