{% extends "base_template.html" %}

{% block content %}
    {% load static %}
    <div id="content_sec">

    <!--Main Section-->
    <div class="col1">
        <div class="vediocontainer">
            <h2 class="pd11">Most Popular Videos</h2>

            <div class="vedioactive">
                <object class="flashobj" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        id="utv510050"
                        style="width:651px; height:398px; z-index: -1000;">
                    <param name="flashvars"
                           value="autoplay=false&amp;brand=embed&amp;cid={{ stream.ustream_uid }}"/>
                    <param name="allowfullscreen" value="true"/>
                    <param name="allowscriptaccess" value="always"/>
                    <param name="movie" value="http://www.ustream.tv/flash/viewer.swf"/>
                    <embed flashvars="autoplay=false&amp;brand=embed&amp;cid={{ stream.ustream_uid }}"
                           allowfullscreen="true" allowscriptaccess="always"
                           id="{{ stream.ustream_uid }}embed"
                           name="utv_n_41439" src="http://www.ustream.tv/flash/viewer.swf"
                           type="application/x-shockwave-flash"
                           style="width: inherit;height: inherit;"/>
                </object>
            </div>
            <div class="sharevedio">
                <div class="sv_topsec">
                    <div class="like_dislike">
                        <ul>
                            <li><a class="like" href="#">Like</a></li>
                            <li class="nobdr"><a class="dslike" href="#">Dislike</a></li>
                        </ul>
                    </div>
                    <a href="#" class="sharetab">Share</a>

                    <div class="embed"><a href="#" class="embed">Embed</a></div>
                    <a class="add_to" href="#">Add to</a>

                    <div class="shareonbg"><a class="link1" href="#">200</a></div>
                    <div class="shareonbg"><a class="link2" href="#">200</a></div>
                    <div class="shareonbg"><a class="link3" href="#">200</a></div>
                    <div class="clear"></div>
                </div>
                <div class="sv_contsec">
                    <ul>
                        <li>
                            <input name="txt" onfocus="if(this.value)"
                                   value="http://www.Vidsea.com/watch?v=lpQTeYG6cGM" type="text"/>
                        </li>
                        <li class="share">Share:</li>
                        <li><a href="#"><img src="images/share1.gif" alt=""/></a></li>
                        <li><a href="#"><img src="images/share2.gif" alt=""/></a></li>
                        <li><a href="#"><img src="images/share3.gif" alt=""/></a></li>
                        <li><a href="#"><img src="images/share4.gif" alt=""/></a></li>
                        <li><a href="#"><img src="images/share5.gif" alt=""/></a></li>
                        <li class="nomar"><a href="#"><img src="images/share6.gif" alt=""/></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="cmntcontainer">
                <h2 class="pd11">Comments</h2>

                <div class="comment">
                    <textarea class="txtcomment" name="txt" cols="0" rows="0"></textarea>
                </div>
                <div class="clear"></div>
                <div class="commentaction">
                    <span class="left">500 characters remaining</span>
                    <ul>
                        <li><a href="#">Cancel</a> or</li>
                        <li><a class="post" href="#">post</a></li>
                        <li class="nomar"><a class="vedio" href="#">Attach a video</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!--Right Section-->
    <div class="col2">
        <!--Feature Vedio -->
        <div class="sideblock2">
            <h2>Your Apps</h2>
            <ul>
                <li>
                    <div class="thumb">
                        <a href="#">
                            <img src="{% static 'images/featurevideo1.jpg' %}" alt=""/>
                        </a>
                    </div>
                    <div class="description">
                        <p><a href="/apps/regions/?vid={{ stream.ustream_uid }}"> Virtual Regions</a></p>

                        <p class="viewcounts">Create and monitor virtual regions on your streams</p></p>
                    </div>
                </li>
                <li>
                    <div class="thumb">
                        <a href="detail.html">
                            <img src="{% static 'images/featurevideo2.jpg' %}" alt=""/>
                        </a>
                    </div>
                    <div class="description">
                        <p><a href="/apps/smiles/?vid={{ stream.ustream_uid }}"> Smile Detection</a></p>

                        <p class="viewcounts">Lets you know whenever someone smiled</p></div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    </div>


    <div class="clear"></div>
{% endblock %}